<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.light.news"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.light.news.MainActivity"
            android:label="@string/app_name" >
            
            <!-- 指定启动程序时的页面 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.light.news.FActivity"
            android:label="新建Activity" >
        </activity>
        <activity
            android:name="com.light.news.SActivity"
            android:label="二级Activity" >
        </activity>
        
        <activity
            android:name="com.light.news.ThinkActivity"
            android:label="理解Activity的生命周期" >
            
            
        </activity>
        <activity
            android:name="com.light.news.ThinkSecondActivity"
            android:theme="@android:style/Theme.DeviceDefault.Dialog"
            android:label="理解Activity生命周期子窗口" >
        </activity>
        
         <activity
            android:name="com.light.news.ToggleButtonActivity"
            android:label="toggleButton的例子" >
           
        </activity>
        
         <activity
            android:name="com.light.news.forms.CheckboxActivity"
            android:label="checkbox的例子" >
           
        </activity>
        <activity
            android:name="com.light.news.forms.RadioGroupActivity"
            android:label="RadioGroup的例子" >
           
        </activity>
        
        <activity
            android:name="com.light.news.layouts.LinearActivity"
            android:label="线性布局" >
           
        </activity>
         <activity
            android:name="com.light.news.layouts.RelativeLayoutActivity"
            android:label="相对布局" >
           
        </activity>
        
         <activity
            android:name="com.light.news.layouts.GoodsLayout"
            android:label="商品列表布局" >
           
        </activity>
        
         <activity 
             android:name="com.light.news.views.ListViewActivity"
             android:label="ListViewDemo">
         </activity>
        
    </application>

</manifest>
